html { min-height: 100%; scroll-behavior: smooth; }

body { font-family: "Overpass", sans-serif; color: #000000; background-color: #BC9F73; font-size: 1rem; }

h1, h2, h3, h4 { margin: 0; font-weight: 700; }

h1 { color: white; text-align: center; text-shadow: 2px 2px 2px #000000; font-size: 1.75rem; }
@media screen and (max-width: 400px) { h1 { font-size: 1.5rem; } }

h2 { font-size: 2.5rem; }

h3 { font-size: 2rem; }

h4 { font-size: 1.125rem; color: #3A8278; }

.container { margin: 0 auto; }
@media screen and (min-width: 800px) { .container { width: auto; max-width: 1200px; } }
@media screen and (max-width: 360px) { .container { width: auto; max-width: 360px; } }

.logo { width: 140px; height: 140px; }
.logo img { height: 100%; width: auto; }

header { background-color: #ffffff; }

nav { font-size: 1.25rem; font-weight: 600; /* Mobile menu */ /* Desktop menu */ }
nav ul { list-style-type: none; margin: 0; padding: 0; }
nav a { color: #000000; text-decoration: none; }
nav a:visited { color: #000000; }
nav a:hover { color: #3A8278; border-bottom: 2px solid #3A8278; }
nav .menu li { padding: 10px; white-space: nowrap; }
nav .toggle a { font-size: 3.75rem; }
nav .toggle a:hover { border-bottom: unset; }
nav .menu { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
nav .toggle { order: 1; }
nav .item { width: 100%; order: 3; display: none; }
nav .item.active { display: block; }
@media all and (min-width: 600px) { nav .item { display: block; width: auto; order: 1; }
  nav .toggle { display: none; }
  nav .logo { flex: 1; }
  nav .menu li { padding: 15px 10px; } }

.siteBanner { height: 400px; border-bottom: 1px solid #ffffff; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }
@media screen and (min-width: 1200px) { .siteBanner { background-image: url("../img/allegria_banner.jpg"); } }
@media screen and (max-width: 1200px) { .siteBanner { background-image: url("../img/allegria_banner_m.jpg"); } }
@media screen and (max-width: 420px) { .siteBanner { background-image: url("../img/allegria_banner_s.jpg"); } }

.bannerText { height: 100px; padding-top: 120px; }
@media screen and (max-width: 420px) { .bannerText { padding-top: 20px; } }
@media screen and (max-width: 600px) { .bannerText { padding-top: 80px; } }

section { padding: 30px; margin-top: 30px; background-color: #ffffff; }
section:last-child { margin-bottom: 30px; }

.header { text-align: center; padding: 10px 0 10px 0; }

.subHeader { text-align: center; padding: 10px 0 10px 0; }

.menuWrapper { display: grid; }
@media screen and (min-width: 800px) { .menuWrapper { grid-template-columns: 1fr 1fr; column-gap: 2rem; } }
@media screen and (max-width: 360px) { .menuWrapper { grid-template-columns: 1fr; column-gap: 2rem; } }

.contactWrapper { display: grid; }
@media screen and (min-width: 800px) { .contactWrapper { grid-template-columns: 1fr 1fr; column-gap: 2rem; } }
@media screen and (max-width: 360px) { .contactWrapper { grid-template-columns: 1fr; column-gap: 2rem; } }

.reservationWrapper { display: grid; }
@media screen and (min-width: 800px) { .reservationWrapper { grid-template-columns: 1fr 1fr 1fr; column-gap: 2rem; } }
@media screen and (max-width: 360px) { .reservationWrapper { grid-template-columns: 1fr; column-gap: 2rem; } }

#menuFooter { text-align: center; }

.menuItem { border-top: 1px solid #707070; padding: 10px; }

.menuItemWrapper { display: grid; grid-template-columns: 80fr 20fr; }
.menuItemWrapper .menuItemPrice p { margin: 0; text-align: right; font-size: 1.125rem; font-weight: 600; }

.offers { text-align: center; }

p.offersHeader { font-size: 2.5rem; font-weight: 700; margin: 10px; }

p.offersSubheader { font-size: 2.375rem; font-weight: 600; margin: 0; }

p.offersFooter { font-weight: 700; }

.contactList ul { list-style: none; text-align: center; padding-left: 0; }
.contactList li { padding-bottom: 10px; }
.contactList li:nth-child(odd) { color: #3A8278; font-size: 1.125rem; font-weight: 700; }

.icons { color: #000000; padding: 0.15em 0.15em 0 0; }
.icons:hover { color: #3A8278; }

#reservationForm h4 { padding: 10px 0 5px 0; }
#reservationForm label { display: inline-block; padding: 5px 0 5px 0; }
#reservationForm input { width: 100%; height: 40px; border: 1px solid #000000; padding: 10px; box-sizing: border-box; }
#reservationForm textarea { width: 100%; height: 150px; padding: 10px; box-sizing: border-box; resize: none; border: 1px solid #000000; }
#reservationForm button { background-color: white; padding: 13px 50px 10px 50px; margin-top: 10px; color: #000000; border: 1px solid black; }
#reservationForm button:hover { background-color: #3A8278; border: 1px solid #3A8278; color: white; transition: 1000ms; }

#notification { display: none; padding: 15px; text-align: center; color: white; }

footer { min-height: 30px; padding-top: 20px; background-color: #ffffff; text-align: center; }
footer p { margin: 0; }

/*# sourceMappingURL=main.css.map */
