$allegriaGold: #BC9F73;
$allegriaGreen: #4BA99C;
$bodyText: #000000;
$font: 'Overpass', sans-serif;
$bannerImage: "../img/allegria_banner.jpg";
$desktopContainer: 1200px;
$mobileContainer: 600px;

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

body{
  font-family: $font;
  color: $bodyText;
  background-color: $allegriaGold;
}

p.price{
  margin: 0;
  @include fontSize(18px);
  @include font-weight(semi-bold)
}

h1, h2, h3, h4{
  margin: 0;
  @include font-weight(bold);
}

h1 {
  color: white;
  text-align: center;
  @include fontSize(28px);
}
h2{
  @include fontSize(40px);
}

h3{
  @include fontSize(32px);
}

h4{
  @include fontSize(18px);
  color: $allegriaGreen;
}

.container{
  margin: 0 auto;
  width: $desktopContainer;
}

header.outer{
  height: 150px;
  background-color: #ffffff;
}

header.inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  margin-top: 10px;
  width: 140px;
  height: 140px;
  img {
    height: 130px;
    width: auto;
  }
}

nav{
  text-align: right;
  padding-top: 50px;
  height: 100px;
  @include  fontSize(20px);
  @include font-weight(semi-bold);
  ul{
    list-style: none;
  }

  li{
    display: inline;
    padding-right: 10px;
  }

  li:last-child{
    padding-right: unset;
  }

  a{
    text-decoration: none;

    &:link{
      color: #000000;
    }

    &:visited{
      color: black;
    }

    &:hover{
      color: $allegriaGreen;
      border-bottom: 2px solid $allegriaGreen;
    }

  }
}

.siteBanner{
  height: 400px;
  border-bottom: 1px solid #ffffff;
  background-image: url($bannerImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerText{
  height: 100px;
  padding-top: 60px;
}

section{
  padding: 30px;
  margin-top: 30px;
  background-color: #ffffff;

  &:last-child{
    margin-bottom: 30px;
  }
}

.header{
  text-align: center;
}

.subHeader{
  text-align: center;
}

.menuWrapper{
  display: grid;
  @media screen and (max-width: $desktopContainer) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  @media screen and (min-width: $mobileContainer) {
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
}

.menuItem{
  border-top: 1px solid $bodyText;
}

.menuItemWrapper{
  display: grid;
  grid-template-columns: 80fr 20fr;
}

footer{
  height: 40px;
  padding-top: 10px;
  background-color: #ffffff;
  text-align: center;
}

