$allegriaGold: #BC9F73;
$allegriaGreen: #3A8278;
$bodyText: #000000;
$font: 'Overpass', sans-serif;
$bannerImage: "../img/allegria_banner.jpg";
$desktopContainer: 1200px;
$mobileContainer: 360px;

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

html{
  min-height: 100%;
  scroll-behavior: smooth;
}

body{
  font-family: $font;
  color: $bodyText;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  background-color: $allegriaGold;
  @include fontSize(16px);
}

h1, h2, h3, h4{
  margin: 0;
  @include font-weight(bold);
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  @include fontSize(28px);
  @media screen and (max-width: 400px) {
    @include fontSize(24px);
  }
}
h2{
  @include fontSize(40px);
}

h3{
  @include fontSize(32px);
}

h4{
  @include fontSize(18px);
  color: $allegriaGreen;
}

.container{
  margin: 0 auto;
  @media screen and (min-width: 800px) {
    width: auto;
    max-width: $desktopContainer;
  }
  @media screen and (max-width: $mobileContainer) {
    width: auto;
    max-width: $mobileContainer;
  }
}

.logo {
  width: 140px;
  height: 140px;
  img {
    height: 100%;
    width: auto;
  }
}

header{
  background-color: #ffffff;
}

nav {
  @include fontSize(20px);
  @include font-weight(semi-bold);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #000000;
    text-decoration: none;

    &:visited {
      color: #000000;
    }

    &:hover {
      color: $allegriaGreen;
      border-bottom: 2px solid $allegriaGreen;}
  }

  .menu li {
    padding: 10px;
    white-space: nowrap;
  }

  .toggle {
    a {
      @include fontSize(60px);

      &:hover {
        border-bottom: unset;
      }
    }
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item {
    width: 100%;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }

  /* Desktop menu */
  @media all and (min-width: 600px) {
    .item {
      display: block;
      width: auto;
      order: 1;
    }
    .toggle {
      display: none;
    }
    .logo {
      flex: 1;
    }
    .menu li {
      padding: 15px 10px;
    }
  }

}

.siteBanner{
  height: 400px;
  border-bottom: 1px solid #ffffff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 1201px) {
    background-image: url("../img/allegria_banner.webp"), url("../img/allegria_banner.jpg");
  }
  @media screen and (max-width: 1200px) {
    background-image: url("../img/allegria_banner_m.webp"), url("../img/allegria_banner.jpg");
  }
  @media screen and (max-width: 420px) {
    background-image: url("../img/allegria_banner_s.webp"), url("../img/allegria_banner.jpg");
  }

}

.bannerText{
  height: 100px;
  padding-top: 120px;
  @media screen and (max-width: 420px) {
    padding-top: 20px;
  }
  @media screen and (max-width: 600px) {
    padding-top: 80px;
  }
}

section{
  padding: 30px;
  margin-top: 30px;
  background-color: #ffffff;

  &:last-child{
    margin-bottom: 30px;
  }
}

.header{
  text-align: center;
  padding: 10px 0 10px 0;
}

.subHeader{
  text-align: center;
  padding: 20px 0 20px 0;
}

.menuWrapper{
  display: grid;
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  @media screen and (max-width: $mobileContainer) {
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
}

.contactWrapper{
  display: grid;
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  @media screen and (max-width: $mobileContainer) {
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
}

.reservationWrapper{
  display: grid;
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  @media screen and (max-width: $mobileContainer) {
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
}

#menuFooter{
  text-align: center;
  padding-top: 30px;
}

.menuItem{
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .menuItem {
    border-top: 1px solid #707070;
    &:last-child{
      border-bottom: 1px solid #707070;
    }
  }
}

@media screen and (min-width: 801px) {
  .menuItem {
    border-top: 1px solid #707070;
  }
  .menuItem:nth-child(2n + 1):nth-last-child(-n + 2),
  .menuItem:nth-child(2n + 1):nth-last-child(-n + 2) ~ .menuItem {
    border-bottom: 1px solid #707070;
  }
}

.menuItemWrapper{
  display: grid;
  grid-template-columns: 80fr 20fr;

  .menuItemPrice p{
    margin: 0;
    text-align: right;
    @include fontSize(18px);
    @include font-weight(semi-bold)
  }
}

.offers{
  text-align: center;
}

p.offersHeader{
  @include fontSize(40px);
  @include font-weight(bold);
  margin: 10px;
}

p.offersSubheader{
  @include fontSize(38px);
  @include font-weight(semi-bold);
  margin: 0;
}

p.offersFooter{
  @include font-weight(bold);
}

.contactList {
  ul{
  list-style: none;
  text-align: center;
  padding-left:0;
  }
  li{
    padding-bottom: 10px;
  }
  li:nth-child(odd){
    color: $allegriaGreen;
    @include fontSize(18px);
    @include font-weight(bold);
  }
}

.icons{
  color: #000000;
  padding: 0.15em 0.15em 0 0;
  &:hover{
    color: $allegriaGreen;
  }
}

#reservationForm {
  h4 {
    padding: 10px 0 5px 0;
  }

  label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    padding: 10px;
    box-sizing: border-box;

  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #000000;
  }

  button {
    background-color: white;
    padding: 13px 50px 10px 50px;
    margin-top: 10px;
    color: #000000;
    border: 1px solid black;

    &:hover {
      background-color: $allegriaGreen;
      border: 1px solid $allegriaGreen;
      color: white;
      transition: 1000ms;
    }
  }
}

#notification{
  display: none;
  padding: 15px;
  text-align: center;
  color: white;
}

footer{
  min-height: 30px;
  padding-top: 20px;
  background-color: #ffffff;
  text-align: center;
  p{
    margin: 0;
  }
}

